
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.title-Principal{
    display: grid;
    justify-content: center;
}

.contenedor{
    background-color: #ffffff;
    border-left: 4px solid #5a5a64;
    border-right: 4px solid #5a5a64;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 40px;
    box-shadow: 0 0 50px 0  #665823 ;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.subt {
    background: url(../MOODLE_HTML/assets/camino\ Ninja.jpg) top / cover fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0.5);
}

.subtitle{
    padding: 0;
    margin: 0;
    color: rgb(255, 123, 0);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nave {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

.menu{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.title-becas{
    margin: 20px;
    padding: 20px;
    text-align: center;
    
}

.all-card{
    margin: auto;
    padding: 10px 30px;
    align-items: center;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.we {
    color: red;
    text-align: center;
}

a{
    color: #1b1b1b;
    text-decoration: none;
}

img{
    display: flex;
    margin: 0px;
    width: 25px;
}

.card-riwi{
    background: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius:1pc;
    transition-duration: 200ms, 80ms;
}
.card-riwi:hover{
    background-color: #6F0DFC;
    transform: scale(1.2);
    transform:translate3d(10px) ;
}


.title-riwi{
    color: blanchedalmond;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, transparent,
    #4e4effb4, transparent);   
}

.card-udea{
    background: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius:1pc;
    transition-duration: 200ms, 80ms;
}

.card-udea:hover{
    background-color: rgb(23, 109, 2);
    transform: scale(1.2);
    transform:translate3d(10px);
}


.title-UDEA{
    color: blanchedalmond;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, transparent,#288f00 );   
}

.card-eafit{
    background: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    width: 300px;
    border:2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);    
    border-radius:1pc;
    transition-duration: 200ms, 80ms;
}

.card-eafit:hover{
    background-color: rgb(4, 0, 255);
    transform: scale(1.2);
    transform:translate3d(10px)
}

.title-EAFIT{
    color: blanchedalmond;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, transparent,#0026a5 );
}

.card-Nacional{
    background: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius:1pc;
    transition-duration: 200ms, 80ms;
}

.card-Nacional:hover{
    background-color: #f30424;
    transform: scale(1.2);
    transform:translate3d(10px)
}

.title-NACIONAL{
    color: blanchedalmond;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, transparent,#fa3e3e, transparent);
}

.all-card2{
    margin: auto;
    padding: 10px 30px;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
}


.card-ITM{  
    background: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius:1pc;
    transition-duration: 200ms, 80ms;
}

.card-ITM:hover{
    background-color: rgb(0, 22, 146);
    transform: scale(1.2);
    transform:translate3d(10px)
}

.title-Tecnologico{
    color: blanchedalmond;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, transparent,#0011ff, transparent);
}

.card-IUE{
    background: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius:1pc;
    transition-duration: 200ms, 80ms;
}

.card-IUE:hover{
    background-color: rgb(250, 136, 5);
    transform: scale(1.2);
    transform:translate3d(10px)
}

.title-IUE{
    color: blanchedalmond;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, transparent,#ff6600, transparent);
}

.card-TDEA{
    background: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius:1pc;
    transition-duration: 200ms, 80ms;
}

.card-TDEA:hover{
    background-color: rgb(23, 109, 2);
    transform: scale(1.2);
    transform:translate3d(10px)
}

.title-TDEA{
    color: blanchedalmond;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, transparent,#014701, transparent);
}

.card-CES{
    background: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius:1pc;
    transition-duration: 200ms, 80ms; 
}

.card-CES:hover{
    background-color: rgb(1, 9, 80);
    transform: scale(1.2);
    transform:translate3d(10px)
}

.title-CES{
    color: blanchedalmond;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, transparent,#010b96, transparent);
}

.regis{
    display: grid;
    justify-content: center;
    padding: -25px 0;
    padding-top: 20px;
}

.Contacto{
    display: grid;
    justify-content: center;
    padding-top: auto;
}

.box-formulario{
    display: grid;
    justify-content: center;
    padding: 20px 10px;
    margin: auto;
    box-sizing: border-box;
}

.Nombres{
    display: grid;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
    font-weight: 900;
}

.Registro-Campo{
    display: grid;
    justify-content: center;
    margin: auto;
    /* width:10pc; */
}

input{
    width: 20pc;
    height: 1.9pc;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.Campos{
    background: whitesmoke;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius:1pc;
}

.bottom{
    width: 10pc;
    color: beige;
    background: black;
    transition-duration: 200ms, 80ms;
}

.bottom:hover{
    cursor: pointer;
    transform: scale(1.2);
    transform:translate3d(10px)
}

.enviar{
    display: grid;
    justify-content: center;
    margin-top: 15px;
    
}

/* .box-formulario::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    animation-name: -1s;
}

.box-formulario::after{
    content: "";
    position: absolute;
    inset: 4px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
} */