.img1 {
    width: 250px;
    height: 500px;
    border: 5px rgb(110, 6, 179) outset;
}
body h1{
    color: rgb(160, 4, 250);
}
.about {
    color: rgb(235, 3, 3);
}
.details {
    color: rgb(0, 102, 255);
}
html {
    background-color: rgb(184, 217, 255);
}
hr {
    border: 2px black solid;
    border-radius: 20px;
}