.card{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    margin: 20px;
    padding: 30px;
    gap: 70px;
    background: #4E98D9;
    border-radius: 2pc;
    display: flex;
    color: #F2F2F2;
}

.img1{
    width: 300px;
}
p{
    display: flex;
    align-items: center;
}